@{
    ViewBag.Title = "Index";
}

<h2>Welcome to Tap Drainer's Paradise!</h2>

<p>
    Here at Tap Drainer's Paradise we hope to provide you with the most convenient
    drink ordering system.
</p>

<p id="barBtn" class="button">
    <a href="/ShoppingCart">Click here if you are a <br />Bartender.</a>
</p>

<p id="patronBtn" class="button">
    <a href="/Store">Click here if you are a <br />Patron.</a>
</p>
